.Sports {

    .MatchStats {
        border: 5px solid gray;
    }

    .TabSelector {
        border: 5px solid black;
        display: flex;
        // background-color: #333; // Set a background color for the container

        button {
            flex: 1;
            padding: 15px;
            background-color: white;
            border: none;
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: #eee;
            }
        }
    }

    .LiveReporting {
        border: 5px solid red;
    }

    .Stats {
        border: 5px solid green;

    }

    .Lineups {
        border: 5px solid blue;

    }

}