.Sports {

    .MatchStats {
        border: 5px solid gray;
    }

    .TabSelector {
        border: 5px solid black;
    }

    .LiveReporting {
        border: 5px solid red;
    }

    .Stats {
        border: 5px solid green;

    }

    .Lineups {
        border: 5px solid blue;

    }

}